<ion-view view-title="Mascota" hide-back-button="true">
  <ion-content>
  <div class="list card">
    <ion-list class="list-inset">
      <ion-item>
         <img src="img/ionic.png">
        <p class="row">
        <label class="col">
         Nombre : 
        </label>
        <label class="col">
         ID: 
        </label>
        </p>
        <p class="row">
        <label class="col">
         Propietario: 
        </label>
        <label class="col">
         Especie: 
        </label>
        </p>
        <p class="row">
        <label class="col">
         Raza: 
        </label>
        <label class="col">
         Genero: 
        </label>
        </p>
         <p class="row">
        <label class="col">
         Fecha de nacimiento: 
        </label>
         <label class="col">
        
        </label>
        </p>
         <button class="button button-royal button-block" > 
                    <i class="icon ion-checkmark"></i> Editar Mascota
                </button>
      </ion-item>
    </ion-list>
</div> 
  </ion-content>
</ion-view>